body {
	margin: 0px;
}

body {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	background: url("images2/Background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#top-pic {
	width: 100%;
	height: 200px;
}

#banner {
	width: 100%;
	height: 51px;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

#banner h3{
	margin-top: 0px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 36px;
	color: rgba(255, 142, 110, 1);
	letter-spacing: 1px;
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0.3); 
}

#header {
	width: 960px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	background-size: 980px 260px;
	background-position: center top;
}

#navbar {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	height: 34px;
	text-align: center;
	font-size: 18px;
	color: #000000;
	text-transform: uppercase;
	padding-top: 6px;
}

.navitem {
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Arial', sans-serif;
	letter-spacing: 2px;
	color: #FFFFFF;
	font-size: 18px;
	margin-left: 35px;
	margin-right: 35px;
}

.navitem:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

#main {
	height: 100%;
	width: 960px;
	margin: 0;
	padding: 0;
	padding-bottom: 500px; /*Lower this once actual content has been added*/
	margin-bottom: 50px;
	margin-right: auto;
	margin-left: auto;
	background-color: rgba(255, 255, 255, 0.8);
	font-family: 'Arial', sans-serif;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#main h1 {
	margin-top: 0;
	padding-top: 40px;
}

#main h1, #main h2, #main h3, #main p {
	margin-left: 30px;
	padding-right: 30px;
}


/*@font-face {
	font-family: hGames;
	src: url('hGames.ttf');
}

html, body, div, li, ul{
	margin: 0px;
	padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
h2,h3 {
	font-family: hGames;
	color: rgb(0,0,0);
}
h3,h4 {
	margin: .25em;
}

body {
	width: 100%;
	height: auto;
	font-family: Arial, Helvetica, sans-serif;
	background: url('./img/fullsize.jpg') no-repeat center center fixed;
	-moz-background-size: cover;
	background-size: cover;
}
td {
	padding: .5em;
}

#top-banner #banner {
	width: 100%;
	height: 200px;
	text-align: center;
	padding: 0px;
	margin: 0px;
}
*/
/*
color scheme
black
0, 0, 0
orange
191, 105, 10
white
255, 237, 230
red
232, 13, 8
grey
66, 71, 63


lighter greys:
(127,118,115)
(191,178,172) light reddish
(255,237,230)
(64,59,57)
(229,213,207) white reddish
	color: rgb(242,171,39);
*/
/*a {
/*	color: rgb(249,233,197);*/
/*}
#masthead {
	position: relative;
	margin: 0;
	height: 300px;
}
#masthead #headline {
	font-family: hGames, Arial, sans-serif;
	font-size: 2.8em;
	font-weight: bold;
	line-height: 0.8em;
	bottom: 1em;
	color: rgb(249,233,197);
	text-shadow: 3px 3px 3px rgb(0,0,0);
}
#navigation, #headline {
	position: absolute;
	right: 0px;
}
#main{
	background-color: rgb(249,233,197);
	box-shadow: 3px 3px 4px rgba(0,0,0,0.3);
}

#header-content, #main{	
	width: 980px;
	margin: 0px auto;

}
#footer-content { box-sizing:border-box; border: 1px solid rgb(31, 31, 31);}
#header-content { height: 300px;}
#navigation { bottom: 0px;}

#global-nav {
	background-color: rgba(0,0,0,0.25);
	position: relative;
	display: block;
	height: 100%;
	margin-left: 4em;
	margin-right:0px;
	text-align: center;
	font-family: hGames;
	font-weight: bold;
}

#global-nav-content {
	position: relative;
	display: table;
	table-layout: fixed;
	height: 100%;
	text-align: left;
	list-style: none outside none;
}
#global-nav-content li {
	display: table-cell;
	height: 100%;
	overflow: hidden;
}
#global-nav-content li a {
	display: block;
	float: none;
	text-decoration: none;
	text-outline: black;
	text-shadow: 2px 2px 2px rgb(0,0,0);
	color: rgb(249,233,197);
    text-align: center;
}
/*
#global-nav-content li a:link,
#global-nav-content li a:visited { color: rgb(115,31,29); }*/
#global-nav-content li a:hover,
#global-nav-content li a:focus { color: rgb(115,31,29); }
#global-nav-content li a:active { color: rgba(232,13,8,0.1); }

#global-nav-content li a span {
	cursor: pointer;
	display: block;
	padding: .5em 0em;
	margin: 0em 1em;
}

#main-content{
	padding: 1em 0em;
	margin: 0em 1em;
	overflow: auto;
	min-height: 480px;
}

#main-primary {
	width: 65%;
	float: left;
}
#main-whole {
	width: 80%;
	margin: 0 auto;
}
#main-secondary {
	width: 30%;
	float: right;
}
.item-list li {
	margin-bottom:1em;
	display: table;
	width: 100%;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
	background-color: rgba(0,0,0,0.05);
}
#main-secondary .item-list li{
	margin-bottom:.25em;
}
.doc-list {
	text-align: left;
	list-style: none outside none;
	background-color: rgba(0,0,0,0.05);
}
.doc-list a{
	text-decoration:none;
	display:block;
	padding:.25em;
	padding-left:1em;
}

.doc-list li a:hover,
.doc-list li a:focus {
	color: rgb(115,31,29);
	background-color: rgba(232,13,8,.05);
}
.doc-list li a:active { color: rgba(232,13,8,1); }
.doc-list li a span {
	margin:1em;
}
.a-time, .a-content {
	display: table-cell;
	padding-left: 1em;
}

.a-time { width: 5em;}

#footer-content p{
	text-align: right;
	margin-right: 1em;
}

.labs table, .projects table, .staff table, .lectures table{
	min-width: 70%;
	margin: 0 auto;
	text-align: center;
	background-color: rgba(0,0,0,0.05);
	table-layout: fixed;
}
td{
	padding: .25em;
	white-space: nowrap;
}

tr:nth-of-type(odd) {
	background-color: rgba(0,0,0,0.05);
}

.item-list li.staff {
	float: left;
	width: 40%;
	margin: 1em;
}

.item-list h3 {
	clear:both;
}
#staff-list h3 {
	margin: 0em;
}
.staff-image, .staff-content {
	display: table-cell;
	vertical-align: top;
	padding: .5em;
}

.staff-image, .staff-image img{
	width: 120px;

}
.staff-image img{
	float: left;
	height: 120px;
}
*/